USE [master]
GO
/****** Object:  Database [Rail]    Script Date: 08-02-2022 07:45:40 ******/
CREATE DATABASE [Rail]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rail', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Rail.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rail_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Rail_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rail].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rail]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08-02-2022 07:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 08-02-2022 07:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [nvarchar](max) NULL,
	[TrainNo] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[JourneyFrom] [nvarchar](max) NULL,
	[JourneyTo] [nvarchar](max) NULL,
	[ResClass] [nvarchar](max) NULL,
	[CoachNo] [decimal](18, 2) NOT NULL,
	[SeatNO] [decimal](18, 2) NOT NULL,
	[Seats] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NULL,
	[Fare] [decimal](18, 2) NOT NULL,
	[CreatedOn] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Bookings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBacks]    Script Date: 08-02-2022 07:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBacks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [nvarchar](max) NULL,
	[TrainNo] [nvarchar](max) NULL,
	[User] [nvarchar](max) NULL,
	[FeedBackk] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.FeedBacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginDetails]    Script Date: 08-02-2022 07:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[DOB] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[Addresss] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[NewPassword] [nvarchar](max) NULL,
	[RoleID] [nvarchar](max) NULL,
	[IsLoggedIn] [nvarchar](max) NULL,
	[LoginAttempts] [nvarchar](max) NULL,
	[IsActive] [nvarchar](max) NULL,
	[CreatedOn] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LoginDetails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trains]    Script Date: 08-02-2022 07:45:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trains](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TrainNo] [nvarchar](max) NULL,
	[TrainName] [nvarchar](max) NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[StartFrom] [nvarchar](max) NULL,
	[EndAt] [nvarchar](max) NULL,
	[Coach] [decimal](18, 2) NOT NULL,
	[Seat] [decimal](18, 2) NOT NULL,
	[RunDate] [nvarchar](max) NULL,
	[CreatedOn] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Trains] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoginDetails] ON 

INSERT [dbo].[LoginDetails] ([ID], [Email], [UserName], [FirstName], [LastName], [DOB], [Gender], [Mobile], [Addresss], [Password], [NewPassword], [RoleID], [IsLoggedIn], [LoginAttempts], [IsActive], [CreatedOn], [CreatedBy]) VALUES (1, N'Ar@mail', N'Auser', N'A', N'L', N'27/07/2027', N'MALE', N'89562356', N'addresssss', N'ooooooo', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LoginDetails] OFF
GO
USE [master]
GO
